{
  "extends": "react-app",
  "rules": {
    "eol-last": "error",
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "no-console": "warn",
    "padded-blocks": ["error", "never"],
    "comma-spacing": "error"
  }
}
